body {
background-color: #68ffbf;
}

.main-contents {
/* 	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px; */
	background-color: white;
	height: 100%;
	width: 1100px;
	margin: 0 auto;
}

.header {
	text-align: right;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #FFFFFF;
}

.heading {
	font-size: 20px;
	font-weight: bolder;
	margin: 2em auto;
	width: 20%;
	border-style: solid;
	border-color: #82ca9c; /* 枠の色 */
	border-width: 3px 0px 3px;
	background: #eeffff; /* 背景色 */
	text-align: center;
}

.message-text {
	border: 0px solid #cccccc;
	margin: 2em auto;
	width: 90%;
}

.date-name {
	font: bold large/150% "メイリオ";
	font-weight: lighter;
	color: gray;
}

.comment-date-name{
	font-weight: lighter;
	color: gray;
	font: 18px;
}

/* .texts{
	padding: 0px;
	font-weight: ;
	margin-top: 20px;
	background-color: #EFFBF8;
} */

/* .title {
	padding-bottom: 20px;
} */

.title1 {
	font-size: 20px;
	font-weight: bold;
}

.title2 {
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
}

.message-text {
	font-size: 20px;
	padding-bottom: 20px;
}

/* .message {
	padding: 40px;
	word-wrap:break-word;
    overflow-wrap:break-word;
} */

/* スマート　囲み枠　Ａ */
.message {
 position: relative;
 margin: 2em auto;
 padding: 2.5em 1em 1em;
 width: 90%; /* ボックス幅 */
 border-style: solid;
 border-color: #82ca9c; /* 枠の色 */
 border-width: 5px 1px 1px;
 background: #f7f7f7; /* 背景色 */
 color: #666; /* テキスト色 */
 box-shadow: 1px 1px 3px #ccc; /* 影の色 */
 word-wrap:break-word;
overflow-wrap:break-word;
}

.title {
 position: absolute;
 top: 8px;
 left: 15px;
 background: #f7f7f7;
 color: #82ca9c; /* タイトル色 */
 font-size: 1.1em;
 font-weight: bold;
}

.category {
	padding: 40px;
	font-size: 20px;
	font-color: #8A4B08;
	font-family: sans-serif;
	font-weight: bold;
	float: right;
}

.comments {
	padding: 40px;
	word-wrap:break-word;
    overflow-wrap:break-word;
}

.comment {
	margin-bottom: 20px;
	background-color: #f7f7f7;
	border-style: solid;
	border-color: #82ca9c; /* 枠の色 */
	border-width: 1px 1px 1px;
}

.comment-title {
	font-size: 20px;
	font-weight: bold;
}

.comment-text {
	font-size: 20px;
	padding: 20px;
}

.comment-padding {
	padding: 20px;
}

.subtext {
	font-weight: bold;
	font-weight: lighter;
	color: gray;
	font: 18px;
	margin-bottom: 20px;
	margin-top: 20px
}

/* input[type="submit"] {
  border: 1px solid #15aeec;
  background-color: #49c0f0;
  background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
  background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
  border-radius: 4px;
  color: #fff;
  line-height: 25px;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
input[type="submit"]:hover {
  border:1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
input[type="submit"]:active {
  background: #1a92c2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
  color: #1679a1;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
} */

input[type="submit"] {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}

table {
	border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

input[type="submit"] {
	display: block;
  text-decoration: none;
  height:35px;
  width: 120px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  background: #75bbf4;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

input[type="submit"]:hover {
	background: #fff;
  color: #000000;
  border:solid 1px #2bb6c1;
}

.contents {
	text-align: center;
}

/* .contents-in {
	text-align: justify;
} */

.management-margin {
	margin-left: auto;
	margin-right: auto;
}

.edit-bottom {
	margin-top: 25px;
}

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8;
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}

.square_btn:hover {
    background: #668ad8;
    color: #FFF;
}

.selecter {
	margin-bottom: 20px;
}

.selecter1 {

	margin-left: auto;
}

.selecter2 {
	margin-left: auto;
}

textbox {
	width: 250px;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}
.page-title {
	font-size: 60px;
	font-weight: bolder;
	color: black;
	text-align: center;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}